<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FireBirdConnectionString"
		 connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Database=C:\Users\EscolarManager\Desktop\Nova pasta\DBPROJETO2.FB4" />
	</connectionStrings>
</configuration>